@import '../../styles/_variables';
@import '../../styles/_fonts';

.brands {
  align-items: center;
  background-color: $grey-light;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    color: $grey-dark;
    font-family: $font-lato;
    font-size: 18px;
    font-weight: 300;
    padding-top: 40px;
    text-align: center;
  }

  &__logos {
    margin: 20px 0;
    flex-wrap: wrap;
  }

  &__logo {
    margin: 0 10px;
    width: 100px;

    @media screen and ($M) {
      margin: 0 20px;
      width: 200px;
    }
  }
}
